{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Ingrédients Québec<small>&nbsp;&nbsp</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Soumettre un détaillant</h3>
  </div>
  <div class="panel-body">
    Détaillant soumis avec succès! Lorsqu'il sera approuvé, le détaillant sera ajouté à la liste.
  </div>
</div>

<div class="well well-sm" style="width: 80%; margin: auto">
  <p align="center"><a href="mailto:infos@ingredients.quebec">Contact</a> | <a href="{{ url_for('apropos') }}"><a href="{{ url_for('apropos') }}">À propos d'ingrédients.quebec</a></a> | <a href="https://github.com/ingredientsquebec/ingredients.quebec" target="_blank">Code source</a></p>
</div>


{% endblock %}
