{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('houblonnieres') }}">
        <img alt="Houblonnières"  height="35" src="/static/components/t_hops.png">
      </a>
      <a class="navbar-brand" href="{{ url_for('malteries') }}">
        <img alt="Malteries"  height="35" src="/static/components/t_malt.png">
      </a>
      <a class="navbar-brand" href="{{ url_for('levuriers') }}">
        <img alt="Levuriers" height="35" src="/static/components/t_yeast.png">
      </a>
      <a class="navbar-brand" href="{{ url_for('detaillants') }}">
        <img alt="Détaillants" height="35" src="/static/components/t_detaillants.png">
      </a>
    </div>
  </div>
</nav>
{% endblock %}
