{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Ingrédients Québec<small>&nbsp;&nbsp;- Levuriers</small></h1>
</div>

{% for levurier in levuriers %}

<div class="media">
  <div class="media-left">
    <a href="{{ levurier['URL'] }}" target="_blank">
      <img class="media-object" width="64" src="/static/img/{{ levurier['logo'] }}" >
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ levurier['name'] }}</h4>
      {{ levurier['description'] }}
  </div>


</div>

{% endfor %}


<div class="well well-sm" style="width: 80%; margin: auto">
  <p align="center"><a href="mailto:infos@ingredients.quebec">Contact</a> | <a href="{{ url_for('apropos') }}">À propos d'ingrédients.quebec</a> | <a href="https://github.com/ingredientsquebec/ingredients.quebec" target="_blank">Code source</a></p>
</div>


{% endblock %}
