{% extends "bootstrap/base.html" %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://ingredients.quebec:5000/houblonnieres">
        <img alt="Houblons"  height="35" src="/static/components/t_hops.png">
      </a>
      <a class="navbar-brand" href="http://ingredients.quebec:5000/malteries">
        <img alt="Malts"  height="35" src="/static/components/t_malt.png">
      </a>
      <a class="navbar-brand" href="http://ingredients.quebec:5000/levuriers">
        <img alt="Levures" height="35" src="/static/components/t_yeast.png">
      </a>
    </div>
  </div>
</nav>

<div class="page-header">
  <h1>Ingrédients Québec<small>&nbsp;&nbsp;- Levuriers</small></h1>
</div>

{% for levurier in levuriers %}

<div class="media">
  <div class="media-left">
    <a href="{{ levurier['URL'] }}" target="_blank">
      <img class="media-object" width="64" src="/static/img/{{ levurier['logo'] }}" >
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ levurier['name'] }}</h4>
      {{ levurier['description'] }}
  </div>


</div>

{% endfor %}


<div class="well well-sm" style="width: 80%; margin: auto">
  <p align="center">Contacts | À propos d'ingrédients.quebec | Code source</p>
</div>


{% endblock %}
