{% extends "bootstrap/base.html" %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://ingredients.quebec/houblonnieres">
        <img alt="Houblons"  height="35" src="/static/components/t_hops.png">
      </a>
      <a class="navbar-brand" href="http://ingredients.quebec/malteries">
        <img alt="Malts"  height="35" src="/static/components/t_malt.png">
      </a>
      <a class="navbar-brand" href="http://ingredients.quebec/levuriers">
        <img alt="Levures" height="35" src="/static/components/t_yeast.png">
      </a>
    </div>
  </div>
</nav>

<div class="page-header">
  <h1>Ingrédients Québec<small>&nbsp;&nbsp;- Malteries</small></h1>
</div>

{% for malterie in malteries %}

<div class="media">
  <div class="media-left">
    <a href="{{ malterie['URL'] }}" target="_blank">
      <img class="media-object" width="64" src="/static/img/{{ malterie['logo'] }}" >
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ malterie['name'] }}</h4>
      {{ malterie['description'] }}
  </div>


</div>

{% endfor %}


<div class="well well-sm" style="width: 80%; margin: auto">
  <p align="center"><a href="mailto:infos@ingredients.quebec">Contact</a> | <a href="http://ingredients.quebec/apropos">À propos d'ingrédients.quebec</a> | <a href="https://github.com/ingredientsquebec/ingredients.quebec" target="_blank">Code source</a></p>
</div>


{% endblock %}
